
<div *ngIf="roundOfInvestment">
    <h2><span jhiTranslate="unchainedApp.roundOfInvestment.detail.title">Round Of Investment</span> {{roundOfInvestment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="unchainedApp.roundOfInvestment.endDate">End Date</span></dt>
        <dd>
            <span>{{roundOfInvestment.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.roundOfInvestment.totalMoneyInvested">Total Money Invested</span></dt>
        <dd>
            <span>{{roundOfInvestment.totalMoneyInvested}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.roundOfInvestment.tokenValue">Token Value</span></dt>
        <dd>
            <span>{{roundOfInvestment.tokenValue}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'round-of-investment/'+ roundOfInvestment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
