<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMasterLabel" jhiTranslate="unchainedApp.master.home.createOrEditLabel">Create or edit a Master</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!master.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="master.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="unchainedApp.master.totalTokens" for="field_totalTokens">Total Tokens</label>
            <input type="number" class="form-control" name="totalTokens" id="field_totalTokens"
                [(ngModel)]="master.totalTokens"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="unchainedApp.master.dividendForOneToken" for="field_dividendForOneToken">Dividend For One Token</label>
            <input type="number" class="form-control" name="dividendForOneToken" id="field_dividendForOneToken"
                [(ngModel)]="master.dividendForOneToken"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="unchainedApp.master.currentValueOfOneToken" for="field_currentValueOfOneToken">Current Value Of One Token</label>
            <input type="number" class="form-control" name="currentValueOfOneToken" id="field_currentValueOfOneToken"
                [(ngModel)]="master.currentValueOfOneToken"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
