<div>
    <h2>
        <span jhiTranslate="unchainedApp.investor.home.title">Investors</span>
        <button class="btn btn-primary float-right create-investor" [routerLink]="['/', { outlets: { popup: ['investor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="unchainedApp.investor.home.createLabel">
            Create new Investor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="investors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="unchainedApp.investor.tokens">Tokens</span></th>
            <th><span jhiTranslate="unchainedApp.investor.dividendsEarned">Dividends Earned</span></th>
            <th><span jhiTranslate="unchainedApp.investor.isInvestor">Is Investor</span></th>
            <th><span jhiTranslate="unchainedApp.investor.moneyInvested">Money Invested</span></th>
            <th><span jhiTranslate="unchainedApp.investor.totalMoneyInvested">Total Money Invested</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let investor of investors ;trackBy: trackId">
                <td><a [routerLink]="['../investor', investor.id ]">{{investor.id}}</a></td>
                <td>{{investor.tokens}}</td>
                <td>{{investor.dividendsEarned}}</td>
                <td>{{investor.isInvestor}}</td>
                <td>{{investor.moneyInvested}}</td>
                <td>{{investor.totalMoneyInvested}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../investor', investor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'investor/'+ investor.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'investor/'+ investor.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
