
<div *ngIf="investor">
    <h2><span jhiTranslate="unchainedApp.investor.detail.title">Investor</span> {{investor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="unchainedApp.investor.tokens">Tokens</span></dt>
        <dd>
            <span>{{investor.tokens}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.investor.dividendsEarned">Dividends Earned</span></dt>
        <dd>
            <span>{{investor.dividendsEarned}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.investor.isInvestor">Is Investor</span></dt>
        <dd>
            <span>{{investor.isInvestor}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.investor.moneyInvested">Money Invested</span></dt>
        <dd>
            <span>{{investor.moneyInvested}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.investor.totalMoneyInvested">Total Money Invested</span></dt>
        <dd>
            <span>{{investor.totalMoneyInvested}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.investor.accountId">Account Id</span></dt>
        <dd>
            <span>{{investor.accountId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'investor/'+ investor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
